@font-face {
    font-family: SatoshiMedium;
    src: url(../fonts/Satoshi-Medium.woff);
}

@font-face {
    font-family: SatoshiBold;
    src: url(../fonts/Satoshi-Bold.woff);
}

@font-face {
    font-family: SatoshiBlack;
    src: url(../fonts/Satoshi-Black.woff);
}

@font-face {
    font-family: GambarinoRegular;
    src: url(../fonts/Gambarino-Regular.woff);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h1 {
    font-family: 'GambarinoRegular', 'PT Serif', serif;
    font-weight: 700;
    text-align: center;
    font-size: 64px;
}
#coffeeshop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#coffeeshop .block {
    width: 28rem;
    margin: 1rem;
    background-color: #eee;
    border-radius: 1rem;
    overflow: hidden;
    /*border: solid 3px #222;*/
}
#coffeeshop .block:hover {
    /*background-color: #e0e0e0;*/
}
#coffeeshop .block .raw-image {
    width: 80%;
    align-self: center;
}
#coffeeshop > img {
    display: none;
}
#coffeeshop .block {
    display: flex;
    flex-direction: column;
    position: relative;
}
#coffeeshop .block > h2 {
    font-family: 'SatoshiMedium', 'PT Serif', serif;
    margin: 0;
    margin-bottom: 0.8rem;
    margin-top: 0.4rem;
    text-align: center;
}
#coffeeshop .block .meta {
    padding: 1rem;
    background-color: #f9f9f9;
    border: solid 8px #eee;
    margin-top: -8px;
    border-radius: 1rem;
    font-family: 'SatoshiMedium', monospace, sans-serif;
}
#coffeeshop .block .meta:last-of-type { 
    flex-grow: 1;
}
#coffeeshop .block .meta > h3 {
    margin: 0;
    margin-bottom: 0.4rem;
    font-size: 16px;
}
#coffeeshop .block .meta .tags {
    display: flex;
    flex-wrap: wrap;
}
#coffeeshop .block .meta .tags > div {
    background: rgb(0,109,119);
    background: linear-gradient(180deg, rgba(0,109,119,1) 0%, rgba(11,105,103,1) 100%);
    color: white;
    padding: 0.2rem 0.6rem;
    margin: 0.2rem;
    border-radius: 1rem;
    font-size: 16px;
}
#coffeeshop .block .black {
    background-color: #333;
    color: white;
}
#coffeeshop .block .red {
    background-color: #ba4444;
    color: white;
}
#coffeeshop .block .meta .line div {
    display: inline-block;
}
#coffeeshop .block .meta .line .name {
    /* font-weight: bolder; */
    width: 40%;
    text-align: left;
    font-family: 'SatoshiBold';
}
#coffeeshop .block .meta .line .value {
    display: inline-block;
}
#coffeeshop .block .ausgetrunken {
    background-color: #fff8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'SatoshiMedium', monospace, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 8rem;
    color: #f22e;
    letter-spacing: 3pt;
    z-index: 10;
}
#coffeeshop .block .reserve {
    text-align: center;
    color: white;
    text-decoration: none;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay {
    display: none;
    background-color: #111e;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 98;
}

.appointmentform {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    font-family: 'SatoshiBold', 'PT Serif', serif;
    text-align: center;
    width: 28rem;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
}
.appointmentform img {
    width: 60%;
    margin: 0 auto;
}
.appointmentform .submit {
    margin-top: 1rem;
    padding: 0;
}
.appointmentform .submit a {
    display: block;
    color: white;
    text-decoration: none;
    background-color: #117864;
    padding: 0.4rem 0;
    width: 100%;
    border-radius: 0.4rem;
}
.appointmentform .input {
    text-align: left;
    margin-bottom: 0.6rem;
}
.appointmentform .input input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.1rem;
    border-radius: 0.4rem;
    border: 2px solid #555;
    background-color: #efefef;
}
.appointmentform .input input:disabled {
    background-color: #c8c8c8;
}


footer {
    text-align: center;
    font-family: sans-serif;
}

.caroma-red .meta .tags div, .caroma-red .reserve {
    background: rgb(138,16,16);
    background: linear-gradient(180deg, rgba(138,16,16,1) 0%, rgba(195,68,68,1) 100%)!important;
}

.caroma-orange .meta .tags div, .caroma-orange .reserve {
    background: rgb(224,112,54);
    background: linear-gradient(180deg, rgba(224,112,54,1) 0%, rgba(235,131,0,1) 100%)!important;
}

.caffe-lab .meta .tags div, .caffe-lab .reserve {
    background: rgb(62,140,11);
    background: linear-gradient(180deg, rgba(62,140,11,1) 0%, rgba(87,161,76,1) 100%)!important;
}

.man-vs-machine .meta .tags div, .man-vs-machine .reserve {
    background: rgb(252,65,21);
    background: linear-gradient(180deg, rgba(252,65,21,1) 0%, rgba(244,91,33,1) 100%)!important;
}

.dietrichs .meta .tags div, .dietrichs .reserve {
    background: rgb(252,21,82);
    background: linear-gradient(180deg, rgba(252,21,82,1) 0%, rgba(213,38,96,1) 100%)!important;
}

.ahbraeu .meta .tags div, .ahbraeu .reserve {
    background: #111 !important;
}

.qbo .meta .tags div, .qbo .reserve {
    background: #111 !important;
}

.caroma-green .meta .tags div, .caroma-green .reserve{
    background: rgb(14,133,100);
    background: linear-gradient(180deg, rgba(14,133,100,1) 0%, rgba(20,94,68,1) 100%);
}

.caroma-bronze .meta .tags div, .caroma-bronze .reserve{
    background: rgb(181,106,23);
    background: linear-gradient(180deg, rgba(181,106,23,1) 0%, rgba(110,73,22,1) 100%);
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

#search {
    font-size: 22px;
    border: none;
    margin: 0 auto;
    max-width: 90%;
    width: 400px;
    background: #f7f7f7;
    border-radius: 99rem;
    padding: 0.5rem 1rem;
    border: 1px solid #eaeaea;

    transition: 0.2s all ease;
}

#search:hover {
    transition: 0.2s all ease;
    background-color: #f3f3f3;
}

#search:focus {
    transition: 0.1s all ease-in-out;
    width: 450px;
    outline: none;
    border: 1px solid #eaeaea;
    background-color: #fff;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.image-animation {
    height: 100%;
    width: 100%;
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}

.image-animation-moving {
    width: 1200px;
    height: 150px;
    position: absolute;
    top: -130px;
    left: -400px;
    transform: rotate(-20deg);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.458420868347339) 25%, rgba(255,255,255,0.8337710084033614) 35%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(255,255,255,0.8393732492997199) 65%, rgba(255,255,255,0.3883928571428571) 75%, rgba(255,255,255,0) 100%);
    mix-blend-mode: soft-light;
    opacity: 0.3;
    /* transition: 0.2s all ease-in-out; */
}

.image:hover  .image-animation-moving {
    transition: 0.45s all ease-in-out;
    top: 350px;
}

.image {
    height: 358px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    /* background-blend-mode: soft-light; */
}

.badge-new {
    z-index: 90;
    position: absolute;
    width: 90px;
    height: auto;
    top: 16rem;
    left: 6rem;
}

.badge-ltd {
    z-index: 90;
    position: absolute;
    width: 90px;
    height: auto;
    top: 1.5rem;
    right: 6rem;
}

.badge-back {
    z-index: 90;
    border: 1 px solid red;
    position: absolute;
    width: 90px;
    height: auto;
    top: 16rem;
    left: 6rem;
}